// Font
$mainFont                : "OpenSans", sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #81C006;

$danger-color            : #ff6f61;

$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #99A7B5;

$neutral-regular         : #606266;

$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #EAEDEF;

$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

$border-menu             : #3a3a3a;
$shadow-section          : 0 0 10px #afbac3;
$shadow-neutral-item     : 0 7px 10px rgba(128,171,185,0.3);
$shadow-warning-item     : 0 5px 10px rgba(255,111,97,0.4);