.button {

	color: $default-color;
	padding: 18px 28px 18px 24px;
	border-radius: 10px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	font-family: $mainFont;
}

.button_danger {
	background-color: $danger-color;
	box-shadow: $shadow-warning-item;
}

.button_subtract {
	background-color: $neutral-secondary;
	box-shadow: $shadow-secondary;
}

.button:focus, .button:active {
	outline: none;
}

.button__header {
	display: flex;
}

.button__header-text {
	font-weight: bold;
	flex: 1;
	text-align: start;
	background: url('/assets/img/plus.png') no-repeat;
	background-position: right 0px top 50%;
}

.button__header-arrow {
	position: relative;
}

.button_danger {
	background-color: $danger-color;
	box-shadow: $shadow-warning-item;

	.button__header-text {
		color: $default-color;
	}

	.chevron {
		display: none;
	}
	.button__header-arrow:after {
		position: absolute;
		// bottom: 0;
		bottom: 11px;
		right: -3px;
		content: "";
		font-weight: bold;
		color: $default-color;
		font-size: 24px;
		line-height: 0;
	}
}