.input {
	padding: 1em;
	border-radius: 10px;
	border: 1px solid $border-secondary;
	color: $mainFontColor;
	font-size: 18px;
	transition: all 0.4s ease;
}

.input:focus {
	outline: none;
}

select {
	width: 100%;
	// убираем стандартную галочку
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: inherit;
	font-size: inherit;
	background-color: $default-color;
	
}
.hand-over-orepations__label {
	position: relative;

	.chevron {
		position: absolute;
		top: 50%;
		right: 28px;
		width: 7px;
		height: 7px;
		border-right: 2px solid $border-menu;
		border-bottom: 2px solid $border-menu;
		transform: translateY(-50%) rotate(45deg);
		// игнорируем клики по элементу
		pointer-events: none;
	}
}
.option {
	font-size: 24px;
}
input::-webkit-input-placeholder {
	color: $neutral-placeholder;
}
input:-moz-placeholder {
	color: $neutral-placeholder;
}

/* Option */

// .check-option {
// 	display: block;
// 	margin-bottom: 0.5em;
// }

/* Check */

.check {
	padding-left: 2.8em;
}

.check__input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.check__box {
	display: inline-block;
	position: absolute;
	margin-left: -2.6em;
	width: 2em;
	height: 2em;
	overflow: hidden;
	border-radius: .4em;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: 1px solid $border-check;
	transform: translateY(-25%);
}

/* Checked */
.check__box:after {
	display: block;
	content: '';
	position: absolute;
	width: .4em;
	height: .8em;
	border-right: .2em solid $danger-color;
	border-bottom: .2em solid $danger-color;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -250%) rotate(45deg);
	transition: transform 0.4s ease;
}

.check__input:checked + .check__box {
	&:after {
		transform: translate(-40%, -65%) rotate(45deg);
	}
}

/* Focused */
.check__input:focus + .check__box {
	// box-shadow:	0 0 0 0.1em $border-check;
}
