.input {
	padding: 1em;
	border-radius: 10px;
	border: 1px solid $border-secondary;
	color: $mainFontColor;
	font-size: 18px;
	transition: all 0.4s ease;
}

.input:focus {
	outline: none;
}

select {
	width: 100%;
	// убираем стандартную галочку
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: inherit;
	font-size: inherit;
	background-color: $default-color;
	
}
.hand-over-orepations__label {
	position: relative;

	.chevron {
		position: absolute;
		top: 50%;
		right: 28px;
		width: 7px;
		height: 7px;
		border-right: 2px solid $border-menu;
		border-bottom: 2px solid $border-menu;
		transform: translateY(-50%) rotate(45deg);
		// игнорируем клики по элементу
		pointer-events: none;
	}
}
.option {
	font-size: 24px;
}
input::-webkit-input-placeholder {
	color: $neutral-placeholder;
}
input:-moz-placeholder {
	color: $neutral-placeholder;
}