.item {
	display: flex;
	padding: 20px 28px 20px 24px;
	background-color: #fff;
	// border: 1px solid red;
	border-radius: 10px;
	align-items: center;
	margin-top: 15px;
	box-shadow: $shadow-neutral-item;
}


.item__text {
	font-weight: bold;
	flex: 1;
}
.item__arrow {
	position: relative;
}

.chevron {
	width: 7px;
	height: 7px;
	border-right: 2px solid $border-menu;
	border-bottom: 2px solid $border-menu;
	transform: rotate(-45deg);
}
.item_warning {
	background-color: $danger-color;
	box-shadow: $shadow-warning-item;

	.item__text {
		color: $default-color;
	}

	.chevron {
		display: none;
	}
	.item__arrow:after {
		position: absolute;
		bottom: 0;
		right: -3px;
		content: "+";
		font-weight: bold;
		color: $default-color;
		font-size: 24px;
		line-height: 0;
	}
}
