.item {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 1em 28px 1em 24px;
	background-color: $default-color;
	border-radius: .55em;
	border: none;
	font-size: inherit;
	font-family: $mainFont;
	box-shadow: $shadow-neutral-item;
	cursor: pointer;
}

.item-field .item {
	margin-top: .9em;
	// margin-bottom: 16px;
	
	&.deleted {
		margin-right: 3000px !important;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		font-size: 0;
		opacity: 0;
		transition: all 0.2s ease-out;
	}
}


.item__header {
	display: flex;
}

.item__header-text {
	font-weight: bold;
	flex: 1;
	text-align: start;
	line-height: 1.2;
}

.garbage .item-field .item__header-text {
	margin-bottom: 0.5em;
}

.item__header-arrow {
	position: relative;

	height: 1em;
	width: 10px;
}

.chevron {
	position: absolute;
	width: .5em;
	height: .5em;
	top: 50%;
	right: 0;
	border-right: 2px solid $border-menu;
	border-bottom: 2px solid $border-menu;
	transform: rotate(-45deg)  translateY(-50%);
}

.item__uppper {
	display: flex;
	padding: .56em 0;

	span:first-child {
		flex: 1;
	}
}

.item__lower {
	display: flex;
	padding-top: .56em;
	border-top: 1px solid rgba(194,202,207,0.5);
	span:first-child {
		flex: 1;
	}
	&:not(:last-child) {
		padding-bottom: .56em;
	}
}
.brigade-field .item__uppper{
	padding-bottom: 0;
}

.item__percent {
	font-weight: 700;
}


.item_warning, .item_subtract, .item_cancel {
	background-color: $danger-color;
	box-shadow: $shadow-warning-item;
	color: $default-color;
	font-size: inherit;
	font-family: $mainFont;
	font-weight: bold;

	.item__header-text {
		color: $default-color;
		line-height: 1.2;
	}
	.item__header-arrow {
		display: flex;
		align-items: center;
	}

}

.item_add {
	.chevron {
		border: none;
		transform: none;
		height: 100%;
		width: 100%;
		top: 0;
	}
	.chevron:after {
		content: "+";
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 1.5em;
		line-height: 1;
		transform: translate(-50%,-50%);
	}
}

.item_subtract {
	background-color: $neutral-secondary;
	box-shadow: $shadow-secondary;
}

.item_cancel {
	background-color: $cancel-color;
	box-shadow: $shadow-cancel-item;
}

.cross {
	font-size: 0.9em;
}

.symbol {
	position: absolute;
	top: 0;
	left: 0;
	height: 1em;
	width: 10px;
}
.symbol:after {
	position: absolute;
	content: '';
	display: block;
	width: 0.625em;
	height: 0.3125em;
	top: 50%;
	border-bottom: .17em solid #fff;
	border-left: .17em solid #fff;
	transform: rotate(-45deg) translateY(-50%);
}
