.start {
	background-color: $danger-color;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.start__logo {
}

.start__content {
}

.start-form {
	position: absolute;
	padding-left: 24px;
	padding-right: 24px;
	top: 50%;
	transform: translateY(-160px);
	width: 100%;
	display: flex;
	flex-direction: column;


	input::-webkit-input-placeholder {
		color: $login-main;
	}
	input:-moz-placeholder {
		color: $login-main;
	}

}

.start-form__logo {
	height: 60px;

	&:before {
		display: block;
		content: url('/assets/img/icon_login.svg');
		width: 65px;
		height: 65px;
		position: absolute;
		left: 50%;
		top: -55px;
		transform: translateX(-50%);
	}
}

.start-form__input {
	margin-bottom: 16px;
}

.password-is-visible {
	opacity: 0;
}

.password-is-hidden {
	opacity: 0;
}

.password, .email {
	border-radius: 0.55em;
	box-shadow: $login-shadow;
	overflow: hidden;
	position: relative;
	transition: all .4s ease;
	
	&__text {
		font: 700 1em $mainFont;
		line-height: 1.5;
		height: 55px;
		padding-left: 24px;

		border: none;
		display: block;
		width: 100%;
		border-radius: 0.55em;
		border: 1px solid $default-color;
		background-color: $default-color;

		transition: all .4s ease;
		
		&:focus, &:active {
			border: 1px solid $login-main;
		}
	}
	&__eye {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 60px;
		height: 100%;
		cursor: pointer;

		& img {
			position: absolute;
			top: 50%;
			right: 50%;
			transform: translate(50%, -50%);
		}

		&.hide-pass {
			.password-is-visible {
				opacity: 0;
			}
			
			.password-is-hidden {
				opacity: 1;
			}
		}

		&.show-pass {
			.password-is-visible {
				opacity: 1;
			}
			
			.password-is-hidden {
				opacity: 0;
			}
		}
	}

	&:before {
		display: block;
		content: url('/assets/img/error.svg');
		position: absolute;
		bottom: 2px;
		left: 24px;
		width: 10px;
		height: 20px;
		opacity: 0;
		transition: opacity .4s ease;
		z-index: -1;
	}

	&:after {
		display: block;
		content: attr(data-error);
		position: absolute;
		bottom: 2px;
		left: 45px;
		width: 100%;
		height: 20px;
		color: $danger-color;
		font-size: 12px;
		opacity: 0;
		transition: opacity .4s ease;
		z-index: -1;
	}

	&.error {

		.password__text, .email__text {
			padding-bottom: 18px;
		}

		&:before {
			opacity: 1;
			z-index: 0;
		}

		&:after {
			opacity: 1;
			z-index: 0;
		}
	}
}


.start-form__forgot {
	color: $default-color;
	line-height: 1.5;
	padding: 17px;
	width: auto;
	align-self: center;
	cursor: pointer;
	// visibility: hidden;
}


.login-button {
	padding: 16px;
	border-radius: 0.55em;
	font-weight: bold;
	font-size: 1em;
	line-height: 1.5;
	color: $default-color;
	background-color: $login-main;
	box-shadow: $login-shadow;
	cursor: pointer;

	&_color_secondary {
		background-color: $login-secondary;
	}
}

.start-form__registration {
	width: auto;
	margin: 24px;
}