.menu {
	position: absolute;
	top: 0;
	height: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	padding: 0 24px;
	transition: height .4s ease 0s;
	overflow: hidden;

	display: flex;
	flex-direction: column;

	.menu__item {
		opacity: 0;
		transition: opacity .4s ease .2s;
		display: block;
		cursor: pointer;
		text-align: left;
	}

	.logout {
		flex-grow: 1;
		display: flex;
		align-items: flex-end;
		cursor: auto;
	}
	
}

.menu__item {
	font-size: 1.4em;
	color: $mainFontColor;
	margin-bottom: 2em;
}

.menu__item:first-child {
	margin-top: 4em;

}
.menu.menu-show {
	bottom: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	z-index: 9;

	.menu__item {
		opacity: 1;
	}

	
}

.logged-user {
	font-weight: bold;
}


.logout__link {
	font-size: inherit;
	color: $danger-color;
	text-align: left;
	cursor: pointer;
}

