.menu {
	position: absolute;
	top: 0;
	height: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	padding: 0 24px;
	transition: height .4s ease 0s;
	overflow: hidden;

	.menu__item {
		opacity: 0;
		transition: opacity .4s ease .2s;
		display: block;
		cursor: pointer;
		text-align: left;
	}
	
}

.menu__item {
	font-size: 24px;
	color: $mainFontColor;
	margin-bottom: 48px;
}

.menu__item:first-child {
	margin-top: 160px;

}
.menu.menu-show {
	bottom: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	z-index: 9;

	.menu__item {
		opacity: 1;
	}

	
}

