.previous-week {
	.chevron, .item__lower, .item__uppper {
		display: none;
	}
}

.week-item.closedable {
	// transition: all 0.4s ease;
	position: relative;
	// overflow: hidden;
	.chevron {
		transform: rotate(-135deg) translate(0, -20%);
		transition: transform 0.4s ease;
	}
	.item__lower {
		transition: margin-top 0.4s ease, opacity 0.4s ease ;
		opacity: 1;
		margin-top: 0;
	}
}

.item__header-text_minus {
	color: $danger-color;
}
.week-item.closedable.closed {
	.chevron {
		transform: rotate(45deg) translate(-30%);
	}
	.item__lower {
		margin-top: -1.8em;
	}
}
.week-item.closedable.hidetext {
	.item__lower {
		opacity: 0;
	}
}

.week-orepations {
	display: flex;
	flex-wrap: wrap;
}
.week-orepations__input {
	flex: 0 0 100%;
	margin-bottom: 16px;
}
.week-orepations__button {
	flex: 1;
	margin: 0;
}
.week-orepations__button:last-child {
	margin-left: 14px;
}