.week {
	.previous-week {
		.chevron, .item__lower, .item__uppper {
			display: none;
		}
	}

	.week-item {
		.item__header-previous {
			display: none;
		}
		.chevron {
			transform: rotate(45deg);
		}
	}
}

.item__header-text_minus {
	color: $danger-color;
}
.week {
	.week-item.closed {
		.chevron {
			transform: rotate(-135deg);
		}
		.item__lower {
			display: none;
		}
	}
}

.week-orepations {
	display: flex;
	flex-wrap: wrap;
}
.week-orepations__input {
	flex: 0 0 100%;
	margin-bottom: 16px;
}
.week-orepations__button {
	flex: 1;
	margin: 0;
}
.week-orepations__button:last-child {
	margin-left: 14px;
}