* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: $mainFont;
	color: $mainFontColor;
}
.wrapper {
	
	display: flex;
	overflow: auto;
}
.wrapper--show-load {
	.load {
		display: block;
	}
}
.container {
	display: flex;

}
.nextPage {
	transform: translateX(-50%);
	transition: transform .4s ease;
}

.fromNextToPrevious {
	transform: translateX(-50%);
}

.previousPage {
	transform: translateX(0);
	transition: transform .4s ease;
}
.page {
	position: relative;
	width: 100vw;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.item-field {
	flex: 1;
	background-color: $background-primary;
	overflow-y: auto;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: .9em;
}

.hide {
	display: none !important;
}

.opacity {
	opacity: 0;
}

.input.warning-input {
	border-color: $danger-color !important;
	background-color: $danger-color-opacity;
}
.order-previous {
	order: -1;
}

@keyframes rotation {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

.load {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: $danger-color;
	z-index: 100;

	&__box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 75px;
		height: 75px;
		background-color: transparent;
		border-radius: 50%;
		overflow: hidden;

		&:after {
			display: block;
			content: '';
			width: 60px;
			height: 60px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $danger-color;
		}
	}
	&__img {
		width: 75px;
		height: 75px;
		border-radius: 50%;
		object-fit: contain;
		border-style: solid;
		border-width: 20px;
		border-image-source: conic-gradient(from 0.32turn, rgba(255, 255, 255, 0), #ffffff 0.93turn);
		border-image-slice: 1;
	}
	&__gradient {
		width: 100%;
		height: 100%;
		background: $conic-gradient;
		position: relative;
		animation: rotation 1s linear infinite;

		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 8px;
			height: 8px;
			background-color: #fff;
			border-radius: 50%;
			transform: translate(-50%);
		}
	}
}