* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: $mainFont;
	color: $mainFontColor;
}
.wrapper {
	
	display: flex;
	// overflow: hidden;
	overflow: auto;
	// transition: all 1s ease;
}
.container {
	display: flex;
	// показывает 2 страницу
	// transform: translateX(-33.3333333%);
	// transform: translateX(-50%);
	// transform: translateX(-66.666666667%);
	// overflow: auto;

}
.nextPage {
	transform: translateX(-50%);
	transition: transform .4s ease;
}

.fromNextToPrevious {
	transform: translateX(-50%);
}

.previousPage {
	transform: translateX(0);
	transition: transform .4s ease;
}
.page {
	position: relative;
	width: 100vw;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.item-field {
	flex: 1;
	background-color: $background-primary;
	overflow-y: auto;
	padding-left: 24px;
	padding-right: 24px;
}

.hide {
	display: none !important;
}

.opacity {
	opacity: 0;
}

.input.warning-input {
	border-color: $danger-color !important;
	background-color: $danger-color-opacity;
}
.order-previous {
	order: -1;
}