.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #fff;
	box-shadow: $shadow-section;
}

.header__nav {
	display: flex;
}

.header__text {
	flex: 1;
}
.header__menu {
	min-width: 50px;
	min-height: 50px;
	padding-right: 24px;
	padding-left: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.menu-icon {
	height: 16px;
	width: 24px;
	border-top: 2px solid $border-menu;
	border-bottom: 2px solid $border-menu;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__line {
		width: 14px;
		border: inherit;
		border-top-width: 1px;
		border-bottom-width: 1px;
	}
}