.weaving-container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 20;
	background-color: $mainColorOpacity;
}

.weaving-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

